{% extends 'news/base.html' %}
{% load static %}

{% block title %} Login sahifasi {% endblock title %}
{% block content %}
    <h2 class="text-center">Veb-saytga kirish - login</h2>
    <p>Iltimos, saytga kirish uchun quyidagi formani to'ldiring!</p>
    <h5>Agar parolingizni unutgan bo'lsangiz, uni <a href="{% url 'password_reset' %}" style="color:red">tiklang</a></h5>
    <form method="post" action="">{% csrf_token %}
        {{ form.as_p }}
    <button type="submit" class="btn btn-success ml-2">Login</button>
    </form>
    <h4>Agar profilingiz bo'lmasa <a href="{% url 'user_register' %}" class="btn btn-primary"> ro'yhatdan o'tishingiz </a>mumkin</h4>
{% endblock content %}