{% extends 'news/base.html' %}
{% load static %}

{% block title %}Foydalanuvchi parolini tiklash {% endblock title %}
{% block content %}
    <h2 >Parolni tiklash</h2>
    <p>Parolni tiklash uchun, quyidagi formani to'ldiring:</p>
    {% if validlink %}
        <p>Iltimos yangi parolni ikki marotaba kiriting</p>
        <form method="post" action="">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary ml-2">Parolni almashtirish</button>
        </form>
    {% else %}
        <p>Siz notog'ri linkdan foydalandingiz, u avvalroq foydalangan bo'lishi va ishlatilish vaqti o'tib ketgan bo'lishi mumkin</p>
    {% endif %}
{% endblock content %}